<nav class="breeding-bottom-nav" aria-label="Breeding navigation">
    <NavLink class="breeding-nav-item" href="/" Match="NavLinkMatch.All">
        <span class="material-symbols-outlined">home</span>
        <span>Home</span>
    </NavLink>
    <NavLink class="breeding-nav-item" href="breeding/registry">
        <span class="material-symbols-outlined">groups</span>
        <span>Plantel</span>
    </NavLink>
    <NavLink class="breeding-nav-item" href="breeding/cobertura" Match="NavLinkMatch.Prefix">
        <span class="material-symbols-outlined">science</span>
        <span>Cobrição</span>
    </NavLink>
    <NavLink class="breeding-nav-item" href="breeding/diagnostico" Match="NavLinkMatch.Prefix">
        <span class="material-symbols-outlined">assignment_turned_in</span>
        <span>Diagnóstico</span>
    </NavLink>
</nav>
