<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1f5638" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["CriaCerto.Web.styles.css"]" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" />
    <link rel="manifest" href="manifest.webmanifest" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_content/CriaCerto.Web.Client/js/plantel-cache.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", () => navigator.serviceWorker.register("/service-worker.js"));
        }
    </script>
</body>

</html>
